<p>
  <input type="checkbox" id="options-vim-use-system-clipboard" checked></input>
  <label for="options-vim-use-system-clipboard">Use system clipboard (vim)</label>
</p>
<p>
  <input type="checkbox" id="options-vim-use-ctrl-keys" checked></input>
  <label for="options-vim-use-ctrl-keys">Use Ctrl keys (vim)</label>
</p>
